div{
    margin: 10px;
}

.container{
    text-align: center;
}

body{
    background: rgb(22, 22, 22);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: white;
}

button{
    font-size: 20px;
    padding: 15px;
}

#select{
    display: none;
}

#player-name{
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#winner{
    color: green;
    padding: 20px;
    background-color: rgb(12, 12, 12);
    border-radius: 3px;
    max-width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#status{
    display: none;
    background: rgb(39, 39, 39);
    max-width: fit-content;
    padding: 25px;
    margin: 25px auto;
    border-radius: 10px;
    transition: all 1.5s ease;
}

#next{
    display: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    padding: 15px;
}

#history{
    position: absolute;
    bottom: 100px;
    right: 100px;
    background: white;
    border-radius: 5px;
    min-width: 250px;
    max-height: 500px;
    overflow-y: scroll;
    display: none;
}

#history h3{
    top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    width: auto;
    text-align: center;
}

#scores{
    position: absolute;
    bottom: 100px;
    left: 100px;
    background: rgb(27, 27, 27);
    border-radius: 5px;
    display: flex;
    padding: 15px;
    display: none;
}

#scores h4{
    text-align: center;
    margin: 10px;
    display: inline;
    color: aquamarine;
    vertical-align: middle;
}

#scores div{
    color: green;
}

#scores div{
    background: rgb(17, 17, 17);
    padding: 5px;
    border-radius: 3px;
}

#bot{
    margin-left: 20px;
}

input{
    padding: 15px;
    font-size: 18px;
}

#reset{
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: rgb(32, 0, 0);
    border: none;

}

#reset:hover{
    background-color: black;
}